.sid-bar
  .sid-bar__user-name
    .sid-bar__user-name__sid-box
      .sid-bar__user-name__sid-box__user_name
        masa
      .sid-bar__user-name__sid-box__icon
        %i.far.fa-edit
        %i.fas.fa-cog
  .sid-bar__group-list
    .sid-bar__group-list__group-name
      aaaa
    .sid-bar__group-list__group-nill
      まだメッセージがありません
